{deps, [
    {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", {tag, "rabbitmq_v2_7_1"}}},
    {neotoma, "1.5", {git, "git://github.com/seancribbs/neotoma.git", {tag, "1.5"}}}
]}.

{erl_opts, [debug_info, fail_on_warning]}.

{pre_hooks, [
    % before compiling the ct_surefire application, generate ct_suite_log_parser.erl from the PEG specification
    {compile, "erl -noshell -pa deps/neotoma/ebin ../neotoma/ebin -eval \"neotoma:file(\\\"priv/ct_suite_log_parser.peg\\\", [{output, \\\"src\\\"}])\" -s init stop"}
]}.

{xref_checks, [undefined_function_calls]}.
